.hero {
  font-family: "Roboto", sans-serif;
  position: relative;
  background-color: #2e2e2e;
  background-image: url("./bilder/autoinGasse.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  text-align: center;
  color: white;
}

.hero-content {
  position: absolute;
  bottom: 10%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 30px;
  border-radius: 10px;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 10px;
  color: white;
}

.hero-content p {
  font-size: 1.2rem;
  color: white;
  margin-bottom: 20px;
  background-color: rgba(138, 19, 29, 0.5);
}

.cta-button {
  text-transform: uppercase;
  display: inline-block;
  padding: 15px 30px;
  font-size: 1rem;
  color: rgb(138, 19, 29);
  background-color: gold;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
}

.cta-button:hover {
  background-color: goldenrod;
}
.services {
  padding: 50px 20px;
  text-align: center;
  background-color: #333;
}

.services h2 {
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: #333;
}

.card-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  background-color: #222;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 30%;
  margin: 10px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s;
  color: white;
}

.card:hover {
  transform: translateY(-10px);
}

.card h3 {
  font-size: 1.8rem;
  margin-bottom: 15px;
  color: gold;
}

.card p {
  font-size: 1.2rem;
}

.service-icon {
  width: 50px;
  height: 50px;
  margin-bottom: 15px;
}
.partner-logos {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.partner-logos img {
  max-height: 100px;
  object-fit: contain;
}
.contact form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 600px;
  margin: 0 auto;
}

.contact input,
.contact textarea {
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.contact button {
  padding: 12px 20px;
  background-color: gold;
  color: rgb(138, 19, 29);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact button:hover {
  background-color: goldenrod;
}
